@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.icon-fa{
    width: 20px;
    height: 20px;
}

.notyf .notyf__wrapper{
    padding: 12px 16px;
}

.notyf .notyf__toast{
    max-width: 500px;
    padding: 0;
    border-radius: 7px;
}

td{
    vertical-align: middle;
}

.table tr{
    border-bottom: 1px solid #dee2e6;
}
